---
---

@import "{{ site.theme }}";

.content {
  display: flex;
}

.error-container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.error-container h1 {
  margin: 30px 0;
  font-size: 4em !important;
  line-height: 1;
  letter-spacing: -1px;
}

.side-menu {
  flex: 1;
  min-width: 200px;
  padding-right: 20px;
}

.side-menu ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.side-menu li {
  line-height: 2.5;
}

.main-body {
  flex: 3;
}
