---
layout: default
---

<section class="content">
  <div class="side-menu">
    <ul>
{% for mi in site.data.main_menu %}
      <li>
  {% if mi.link %}
        <a href="{{ mi.link | relative_url }}"{% if mi.description %} title="{{ mi.description }}"{% endif %}>
  {% endif %}
        {{ mi.name }}
  {% if mi.link %}
        </a>
  {% endif %}
  {% if mi.sub %}
        <ul>
    {% for smi in mi.sub %}
          <li><a href="{{ smi.link | relative_url }}">{{ smi.name }}</a></li>
    {% endfor %}
        </ul>
  {% endif %}
      </li>
{% endfor %}
    </ul>
  </div>

  <div class="main-body">
    {{ content }}
  </div>
</section>
